body{
    margin: 0%;
    padding: 0%;
}
/* to make the web page device compatible we use @media  */
/* here we have used different sizes' screen to make it compateble with device like iphonex,ipad galaxy s5 */
@media screen and (max-width: 1810px){
    .inner{
        font-size: 1.3vw;
    }
}
@media screen and (max-width: 1320px){
    .inner{
        font-size: 45px;
    }
}
@media screen and (max-width: 1024px){
    .inner{
        font-size: 35px;
    }
}
@media screen and (max-width: 768px){
    .inner{
        font-size: 25px;
    }
}
@media screen and (max-width: 414px){
    .inner{
        font-size: 20px;
    }
}
@media screen and (max-width: 375px){
    .inner{
        font-size: 15px;
    }
}