/* this gives our page a margin and padding of 0 */
body{
    margin: 0%;
    padding: 0%;
}

/* creating backgroud image that is fixed  */
/* fixed backgroud image creates parallax effect */
.img{
    background-image: url("..//images/oilchange.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 300px;
}
/* here we use grid layout to style our element */
.services{
    display: grid;
    justify-content: space-around;
    grid-template-columns: 33% 33% 34%;
    background-image: url("../images/black-texture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.services > div{
    margin: 30px;
    text-align: center;
    padding: 20px;
    font-size: 1.3vw;
}
.overlay1{
    background-image: url("../images/service-background.jpg");
}
.overlay2{
    background-image: url("../images/oilchange.jpg");
}
.overlay1,.overlay2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    height: 70vh; 
    width: 100%; 
    height: 100%;
    position: relative; 
}
#c1,#c2{
    display: block;
    opacity: 0;
    color: whitesmoke;
    font-family: 'Barrio', cursive;
    background-color: rgb(0, 0, 0,0.5);
    position: absolute;
    bottom: 0%;
    transition: 1s ease-out;
}
/* here we use hover pseudo class in which something will happpen when we hover on it */
/* and that something over here is opacity of text */
.overlay2:hover #c2, .overlay1:hover #c1{
    opacity: 1;
}
#info{
    position: relative;
}
.products{
    text-align: center;
}
.brands{
    position: absolute;
    left: 15%;
    top: -10%;
    text-align: center;
}
.brands>ul{
    display:block;
    margin: 0%;
    padding: 20px;
    overflow: hidden;
}
.brands ul>li{
    padding: 30px;
    list-style-type: none;
    display: inline-block;
    border: 1px solid grey;
    background-color: white;

}
/* to make the web page device compatible we use @media  */
/* here we have used different sizes' screen to make it compateble with device like iphonex,ipad galaxy s5 */
@media screen and (max-width: 1024px){
    .services{
        display: inline-block;
    }
    .services>div{
        font-size: 35px;
    }
    .brands{
        position: unset;
    }
}
@media screen and (max-width: 768px){
    .services{
        display: inline-block;
    }
    .services>div{
        font-size: 30px;
    }
    .brands{
        position: unset;
    }
}
@media screen and (max-width: 414px){
    .services{
        display: inline-block;
    }
    .services>div{
        font-size: 20px;
    }
    .brands{
        position: unset;
    }
}
@media screen and (max-width: 375px){
    .services{
        display: inline-block;
    }
    .services>div{
        font-size: 25px;
    }
    .brands{
        position: unset;
    }
}






