body{
    margin: 0%;
    padding: 0%;
}
/* here we have gave style to div element with log class , have made4 it inline block  */
.log{
    display: inline-block;
    background-color: whitesmoke;
    transform: translate(0,50%);
}
/* here we have used css selector where we can specificly use an element with specific conditions like in following
we have used input which have type equal to text and type equal to password */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  /* styled button */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
/* have gave it hover effect like someone hover on button   */
button:hover {
    opacity: 0.8;
}
  
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
.container {
    padding: 16px;
}
  
span.psw {
    float: right;
    padding-top: 16px;
}
/* to make the web page device compatible we use @media  */
/* here we have used different sizes' screen to make it compateble with device like iphonex,ipad galaxy s5 */
@media screen and (max-width: 1810px){
    .log{
        font-size: 1.3vw;
    }
}
@media screen and (max-width: 1320px){
    .log{
        font-size: 45px;
    }
}
@media screen and (max-width: 1024px){
    .log{
        font-size: 35px;
    }
}
@media screen and (max-width: 768px){
    .log{
        font-size: 25px;
    }
}
@media screen and (max-width: 414px){
    .log{
        font-size: 20px;
    }
}
@media screen and (max-width: 375px){
    .log{
        font-size: 15px;
    }
}