body{
    margin: 0%;
    padding: 0%;
}
.vids{
    text-align: center;
    background-image: url(../images/blacked-out.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* to make the web page device compatible we use @media  */
/* here we have used different sizes' screen to make it compateble with device like iphonex,ipad galaxy s5 */
@media screen and (max-width: 1810px){
    iframe{
        width: 70vw;
        height: 50vh;
    }
}
@media screen and (max-width: 1320px){
    iframe{
        width: 70vw;
        height: 50vh;
    }
}
@media screen and (max-width: 1024px){
    iframe{
        width: 70vw;
        height: 50vh;
    }
}
@media screen and (max-width: 768px){
    iframe{
        width: 70vw;
        height: 50vh;
    }
}
@media screen and (max-width: 414px){
    iframe{
        width: 70vw;
        height: 50vh;
    }
}

